[submodule "assignment-autotest"]
	path = assignment-autotest
	url = https://github.com/cu-ecen-aeld/assignment-autotest
[submodule "buildroot"]
	path = buildroot
	url = git://git.buildroot.net/buildroot
